:root {
    --background_color: #3D2D78;
    --text_color:#0489BF;
    --border_color:#F7B04B;
}

body {
    background-color: var(--background_color);
}

tr {
    overflow:hidden;
}

h2 {
    font-size: 70px;
    text-align: center;
}

th {
    font-size: 50px;
}

td {
    border: 4px solid var(--border_color);
    font-size: 30px;
    width:200px;
    height:200px;
}

table {
    table-layout:fixed;
    border-collapse: collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    color: var(--text_color);
}

